/* common styles */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
/* header styles */
.header {
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  height: 51rem;
  display: flex;
  justify-content: flex-end;
}

/* nav styles */
nav {
  width: 30%;
  padding-top: 13.5rem;
  padding-right: 14.5rem;
  text-align: right;
}
.nav-header,
.nav-des {
  color: #fff;
  text-align: right;
  font-family: Work Sans;
  font-size: 4.0625rem;
  font-weight: 700;
}
.nav-des {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.btn-primary {
  color: #005fac;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 1.3rem;
  border-radius: 0.3125rem;
  background: #fff;
  border: none;
}

/* failure section styles */
.failure-container {
  display: flex;
  gap: 134px;
}
.failure-img,
.failure-content {
  width: 30%;
}
.failure-img {
  margin-top: 8.75rem;
  margin-left: 17rem;
}
.failure-img img {
  width: 28.1875rem;
  /* margin-right: 8.37rem; */
}
.failure-title {
  color: #151414;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.failure-content {
  margin-top: 23.12rem;
}
.failure-des {
  color: #444343;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1rem;
}
.failure-container ul {
  list-style-image: url("../images/icons/check.png");
  color: #444343;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
li::marker {
  color: #16d887;
  margin-top: -5px;
}

/* plan style */
.section-header {
  text-align: center;
  color: #151414;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 12rem;
}
.plans {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 3.31rem;
  margin-bottom: 8.5rem;
  text-align: center;
}
.plan-header {
  color: var(--dark-01, #151414);
  font-size: 1.875rem;
  font-weight: 700;
}
.what-to-do {
  color: var(--dark-03, #737272);
  font-size: 1.5625rem;
  font-weight: 500;
}

/* style of positive */
.positive {
  background-image: url("../images/gradient1.png"), url("../images/watch.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 8.5rem 14.37rem;
  padding: 3.69rem 4rem;
  height: 18.75rem;
}
.positive-header {
  color: #fff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn-secondary {
  padding: 1.25rem 2.25rem;
  color: #005fac;
  text-align: center;
  font-size: 1.25rem;
  background-color: white;
  font-weight: 600;
  border-radius: 0.3125rem;
  border: none;
}
.button-call {
  margin-bottom: 3.65rem;
  margin-top: 1.5rem;
}
/* footer styles */
footer {
  background: #151414;
  display: flex;
  justify-content: space-between;
  max-height: 36rem;
}
.description-container,
.contact {
  width: 50%;
  padding-top: 8.12rem;
  padding-bottom: 8.12rem;
}
.description-container {
  padding-left: 14.37rem;
}
.contact {
  margin-left: 20.69rem;
}
.des-header {
  color: #f8f8f8;
  font-size: 2.8125rem;
  font-weight: 700;
}
.description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1.5rem;
}
.email,
.phone {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1rem;
}
.contact > h3 {
  color: #fff;
  font-family: Work Sans;
  font-size: 1.5625rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
input[type="text"] {
  color: va #f3f3f3;
  font-size: 1.125rem;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  padding: 1.31rem;
  display: block;
  margin-bottom: 1rem;
}
input[type="button"] {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background: #005fac;
  border: none;
  padding: 1.25rem 2.25rem;
  display: block;
}
